{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js">

        document.querySelector('form').onsubmit = function(event) {
            event.preventDefault();
            // Using the check function, create an in screen alert for the user if the username has already been taken
            $.get("/check", {username: document.querySelector('input[name=username]').value}, function(info) {
                if (info){
                    document.querySelector('form').submit();
                }
                else{
                    alert('username already taken');
                }

            });
        };
    </script>
{% endblock %}